<div class="auth-password">
  <form action="/read" method="POST">
    <h6>Please type the password.</h6>
    <input type="hidden" name="id" value="{{id}}">
    <input type="password" name="password">
    <div class="wrapper">
      <button type="submit">OK</button>
      <a href="/">Back</a>
    </div>
  </form>
</div>