<div class="auth-password">
  <form action="/read" method="POST">
    <h6>암호를 입력해주세요.</h6>
    <input type="hidden" name="id" value="{{id}}">
    <input type="password" name="password">
    <button type="submit">입력</button>
  </form>
</div>