<div class="dbForm">
  <form action="/update/{{thread.THREAD_NUM}}" method="POST">
    <div class="line"><label for="writer">Nickname: </label><input type="text" name="writer" placeholder="Nickname" value={{thread.THREAD_WRITER}}></div>
    <div class="line"><label for="subject">Title: </label><input type="text" name="subject" placeholder="Title" value={{thread.THREAD_SUBJECT}}></div>
    <div class="line"><label for="password">Password: </label><input type="text" name="password" placeholder="Type password if you want the new password"></div>
    <textarea name="content" style="display: none;">{{thread.THREAD_CONTENT}}</textarea>
    <div id="editor">
    </div>
    <button type="submit">Upload</button>
    <a href="javascript:history.back()">Back</a>
  </form>

</div>


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-upload@0.1.3/image-upload.min.js"></script>

<script src="/js/updateQuill.js"></script>
<script src="/js/buttonTabIndex.js"></script>
<script src="/js/thread.js"></script>