<form action="/update/{{thread.THREAD_NUM}}" method="POST">
  <input type="text" name="writer" placeholder="작성자" value={{thread.THREAD_WRITER}}>
  <input type="text" name="subject" placeholder="제목" value={{thread.THREAD_SUBJECT}}>
  <textarea name="content" style="display: none;">{{thread.THREAD_CONTENT}}</textarea>
  <div id="editor">
  </div>
  <button type="submit">수정</button>
</form>


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-upload@0.1.3/image-upload.min.js"></script>

<script>
  const toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],        
    ['link'],


    [{ 'header': 1 }, { 'header': 2 }],              
    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
    [{ 'script': 'sub' }, { 'script': 'super' }],      
    [{ 'indent': '-1' }, { 'indent': '+1' }],         
    [{ 'direction': 'rtl' }],                         

    [{ 'color': [] }, { 'background': [] }],          
    [{ 'font': [] }],
    [{ 'align': [] }],

    ['clean']                                         
  ];

  const quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: toolbarOptions,
    }
  });

  const json = document.querySelector('textarea[name=content]').innerHTML;
  quill.setContents(
    JSON.parse(json)
  );

  const form = document.querySelector('form');
  form.onsubmit = function () {

    const about = document.querySelector('textarea[name=content]');
    let json = JSON.stringify(quill.getContents());

    json = json.split('').map(char => {
      if (char === '\\') return '\\\\';
      else {
        return char;
      }
    }).join('');

    about.value = json;

    return true;
  };

</script>