<form action="/write" method="POST">
  <input type="text" name="writer" placeholder="작성자">
  <input type="text" name="subject" placeholder="제목">
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <button type="submit">업로드</button>
</form>