.forum {
  width: 100%;
}

.forum h3 {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.forum .link-thread {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.forum .link-thread:first-of-type{
  border-top: 1px solid #eee;
  padding-top: 5px;
}
.forum .link-thread:nth-child(even){
  background-color: #eee;
}
.forum .link-thread:last-of-type{
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

/* thread starts */

.thread {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thread-header {
  display: none;
}
.thread-num {
  margin: 0 10px;
}
.thread-subject {
  font-weight: bold;
  font-size: 13px;
}
.thread .upper, .thread .lower {
  display: flex;
}
.thread-writer{
  font-weight: bold;
}
.thread .lower{
  font-size: 12px;
}
.thread .lower div{
  margin: 0 5px;
}

/* pagination starts */

.pagination ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.pagination li.active a {
  color: red;
}
.pagination a {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: #eee;
  padding: 2px 5px;
  margin-right: 10px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  text-decoration: none;
  color: black;
}

/* forum-footer */
.forum-footer {
  border-top: 1px solid rgb(204, 204, 204);
  margin-top: 10px;
  padding-top: 10px;
  text-align: right;
}
.forum-footer a {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: #eee;
  padding: 2px 5px;
  margin-right: 10px;
  font-size: 12px;
  text-decoration: none;
  color: black;
}